* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header {
    background-color: #096B68;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

header nav {
    display: flex;
    gap: 2rem;
}

header a {
    font-weight: 500;
    text-decoration: none;
    color: #fff;
}

header a:hover {
    color: #90D1CA;
}

header h1 {
    color: #fff;
    font-style: italic;
}

.sobre-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
}

.sobre-container .sobre-texto {
    max-width: 35%;
}

.sobre-container .sobre-texto h2 {
    width: 100%;
    color:#096B68;
    font-style: italic;
    border-bottom: solid 2px #096B68;
    padding-bottom: 1rem;
}

.sobre-container .sobre-texto p {
    width: 100%;
    text-align: justify;
    padding-top: 1rem;
}